table{
	width:300px;
	margin:300px auto;
	border:1px solid gold;
	background-color:black;
}
th{
	text-align: left;
	border:none;
	color:gold;
	padding-left:30px;
	padding-top:30px;
}
td{
	border:none;
	padding-right:30px;
	padding-top:30px;
}
#tdbut{
	padding-left:30px;
	padding-bottom:30px;
}
button{
	width: 100%;
	border-radius:5px;
}