<html>
	<head>
		<title>Receipt</title>
		<link rel='stylesheet' href='/static/store/receipt.css'>
	</head>
	<body>
		<form method='post'>
			<div>
				<h1>Thank you for you purchase</h1>
				<h3>Jamaica</h3>
				<h3>160-05 Highland Ave</h3>
				<h3>Jamaica New York 11432</h3>
				<h3>tel (123) 456-7890</h3>
				<table>
					<tr>
						{%for header in headings2%}
							<th>{{header}}</th>
						{%endfor%}
					</tr>
					{%for row in data2%}
						<tr>
							{%for cell in row%}
								<td>{{cell|safe}}</td>
							{%endfor%}
						</tr>
					{%endfor%}
					<tr>{{total1}}}</tr>
				</table>
			</div>
		</form>
	</body>
</html>