<html>
	<head>
		<title>Shop</title>
		<link rel='stylesheet' href='/static/store/aaa.css'>
		<script src='/static/store/aaa.js'></script>
	</head>
	<body>
		<form method='post'> 
			<button id='btncart' name='pick' value='cart'></button>
		</form>
		<div>
			<label>{{conf}}</label>
			<button id='btnjew' name='initial'>Jewelry</button>
			<button id='btnshi' name='initial'>Shirts</button>
			<button id='btnpan' name='initial'>Pants</button>
		</div>
		<form method='post'>
			<div id='divjew'>
				<button id='btn1' name='pick' value='a'></button>
				<button id='btn2' name='pick' value='b'></button>
				<button id='btn3' name='pick' value='c'></button>
			</div>
			<div id='divshi'>
				<button id='btn4' name='pick' value='d'></button>
				<button id='btn5' name='pick' value='e'></button>
				<button id='btn6' name='pick' value='f'></button>
			</div>
			<div id='divpan'>
				<button id='btn7' name='pick' value='g'></button>
				<button id='btn8' name='pick' value='h'></button>
				<button id='btn9' name='pick' value='i'></button>
			</div>
		</form>
	</body>
</html>