<html>
	<head>
		<title>Shopping cart</title>
		<link rel='stylesheet' href='/static/store/global.css'>
		<link rel='stylesheet' href='/static/store/option.css'> 
	</head>
	<body>
		<form method='post'>
			<div id=''>
				<img src='/static/store/{{productimg}}.jpg'>
				<input id='txtamount' name='amount' type='number'>
				<button id='btnadd' name='clicked' value='a'>Add to cart</button>
				<button id='btnbye' name='clicked' value='b'>Back</button>
				<label>{{error}}</label>
			</div>
		</form>
	</body>
</html>