<html>
	<head>
		<title>Sign In</title>
		<link rel='stylesheet' href='/static/store/global.css'>
		<link rel='stylesheet' href='/static/store/index.css'> 
	</head>
	<body>
		<form method="post">
			<label>{{error}}</label>
			<table>
				<tr>
					<th>Username:</th>
					<td><input name="username"></input></td>
				</tr>
				<tr>
					<th>Password:</th>
					<td><input name="password"></input></td>
				</tr>
				<tr>
					<td id='tdbut'><button name="submit">Submit</button></td>
				</tr>
			</table>
		</form>
	</body>
</html>